:root {
  /* Globals */
  --main-bg-color: #FFF;
  --global-font: 'Roboto', sans-serif;
  --primary-font-size: 14px;
  --secondary-font-size: 12px;
  --box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  --accent-color: #258a6d;
  /* Sidenav */
  --sidenav-width: 240px;
  --navpages-button-padding-group: 15px 20px;
  --navpages-button-padding-suboption: 15.5px 40px;
  --navpages-font-color: #323232;
  /* Navbar */
  --navbar-bg: #3f3f3f;
  --navbar-height: 55px;
  --navbar-font-color: rgba(255, 255, 255, 0.5);
  --navbar-side-padding: 20px;
  --searchbar-font-color: rgba(255, 255, 255, 0.3);
  --searchbar-bg: #252525;
  --searchbar-width: 25vw;
  /* Viewport */
  --viewport-padding: 30px;
  --poster-bg-color: #3f3f3f;
  --poster-width: 150px;
  --poster-height: calc(var(--poster-width) * 1.5);
  --poster-container-height: calc(var(--poster-width) * 2.1);
  --poster-padding: 10px;
  --poster-leftright-padding: 10px;
  --poster-title-font-size: 16px;
  --poster-title-top-padding: 7px;
  --poster-title-bottom-padding: 5px;
  --poster-box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  --green-dot: #39b54a;
  --red-dot: #ff0000;
  --yellow-dot: #ffff00;
  --tv-indicator-hr: 1px solid #0076a3;
  --movie-indicator-hr: 1px solid #b66707;
  --music-indicator-hr: 1px solid #9317bb;
  /* Modal */
  --modal-width: 780px;
  --modal-height: 380px;
  --modal-poster-width: 220px;
  --modal-poster-height: calc(var(--modal-poster-width) * 1.5);
  --modal-template-rows: calc((var(--modal-height) - var(--modal-poster-height)) /2) 60px 90px auto;
  --modal-template-columns: calc(var(--modal-poster-width) + (var(--modal-height) - var(--modal-poster-height))) auto;
}
/* Modal */
.modal-tint {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 6;
}
.modal {
  width: var(--modal-width);
  height: var(--modal-height);
  z-index: 7;
  margin: calc((100vh - var(--modal-height))/2) auto;
  background: var(--navbar-bg);
  border-radius: 5px;
  display: grid;
  grid-template-columns: var(--modal-template-columns);
  grid-template-rows: var(--modal-template-rows);
}
.modal-poster {
  height: var(--modal-poster-height);
  width: var(--modal-poster-width);
  margin: calc((var(--modal-height) - var(--modal-poster-height)) /2);
  border-radius: 5px;
  grid-row: 1 / 4;
  grid-column: 1;
}
.modal-title {
  display: grid;
  color: #FFF;
  grid-row: 2;
  grid-column: 2;
  font-family: var(--global-font);
  font-weight: 700;
  margin-top: 20px;
  font-size: 24px;
}
.modal .fa-holder {
  display: grid;
  grid-column: 2;
  grid-row: 1;
}
.modal-fa-holder .fa-expand {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  margin: 15px 16px;
  float: right;
}
.modal-fa-holder .fa-window-close {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  margin: 15px 16px;
  margin-right: 22px;
  float: right;
}
.modal-fa-holder .fa-expand:hover, .modal-fa-holder .fa-window-close:hover {
  color: #FFF;
}
.modal-info {
  display: grid;
  background: var(--searchbar-bg);
  border-radius: 5px;
  margin-right: calc((var(--modal-height) - var(--modal-poster-height)) /2);
  grid-row: 3;
  grid-column: 2;
  padding: 15px 20px;
}
.info {
  font-size: 14px;
  display: inline;
  color: rgba(255, 255, 255, 0.75);
  font-family: var(--global-font);
  font-weight: 300;
}
.info-bold {
  font-weight: bold;
  font-family: var(--global-font);
  font-weight: 700;
}
.modal-info-text-left {
  display: grid;
  grid-row: 1;
  grid-column: 1;
}
.modal-info-text-right {
  display: grid;
  grid-row: 1;
  grid-column: 2;
}
.modal-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 3px;
}
.red {
  background-color: var(--red-dot);
}
.green {
  background-color: var(--green-dot);
}
.yellow {
  background-color: var(--yellow-dot);
}
.modal-description {
  display: grid;
  font-family: var(--global-font);
  font-weight: 300;
  color: #FFF;
  grid-row: 4;
  grid-column: 2;
  margin-top: 10px;
  margin-right: calc((var(--modal-height) - var(--modal-poster-height)) /2);
  max-height: 120px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal-description-music {
  grid-row: 3 / 5;
  max-height: 215px;
  min-height: 215px;
  padding: 7px 0px;
  box-sizing: border-box;
  background: var(--searchbar-bg);
  border-radius: 5px;
}
.modal-request-button-container {
  grid-row: 5;
  grid-column: 2;
}
.modal-request-button {
  color: #FFF;
  font-family: var(--global-font);
  font-weight: 400;
  font-size: 17px;
  line-height: 40px;
  text-align: center;
  width: 115px;
  height: 40px;
  border-radius: 4px;
  background: var(--accent-color);
  float: right;
  margin: 15px 16px;
  font-weight: bold;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.modal-request-button:hover {
  background: #2ba180;
}
/* Body */
html {
  background-color: var(--main-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
  font-family: var(--global-font);
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  position: relative;
}
.viewport {
  z-index: 1;
  left: var(--sidenav-width);
  top: var(--navbar-height);
  position: absolute;
  padding: var(--viewport-padding);
  transition: all 1s ease;
}
/* Navbar */
.navbar {
  z-index: 3;
  width: 100%;
  background: var(--navbar-bg);
  height: var(--navbar-height);
  top: 0px;
  left: 0px;
  position: fixed;
  box-shadow: var(--box-shadow);
}
.logo {
  height: calc(var(--navbar-height) * 0.65);
  padding-top: calc(var(--navbar-height) * 0.175);
  padding-bottom: calc(var(--navbar-height) * 0.175);
  padding-left: var(--navbar-side-padding);
}
.searchbar {
  position: fixed;
  top: 0px;
  height: calc(var(--navbar-height) * .7);
  margin-top: calc(var(--navbar-height) * .15);
  margin-bottom: calc(var(--navbar-height) * .15);
  width: var(--searchbar-width);
  background: var(--searchbar-bg);
  left: calc(50% - (var(--searchbar-width)/2));
  border-radius: 4px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  color: var(--searchbar-font-color);
}
.searchbar:focus-within {
  background: #FFF;
  color: var(--searchbar-bg);
}
.searchbar input {
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  background: none;
  width: var(--searchbar-width);
  padding-right: calc((var(--navbar-height) * .30) + 30px);
  color: inherit;
  border: none;
  font-size: var(--primary-font-size);
  padding-left: 15px;
  outline: none !important;
}
.searchbar .fa-search {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 15px;
  margin-top: calc((var(--navbar-height) * .40) / 2);
  margin-bottom: calc((var(--navbar-height) * .30) / 2);
  height: calc(var(--navbar-height) * .30);
  width: calc(var(--navbar-height) * .30);
  color: inherit;
}
.username-container {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: var(--navbar-side-padding);
  font-family: var(--global-font);
  font-weight: 300;
  font-size: var(--primary-font-size);
  margin-top: calc((var(--navbar-height) - 20px) / 2);
  margin-bottom: calc((var(--navbar-height) - 20px) / 2);
  color: var(--navbar-font-color);
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.username-container:hover {
  color: #FFF;
}
.username-container .username {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 20px;
  display: inline;
  margin-right: 1px;
}
.username-container .fa-caret-down {
  color: inherit;
  font-size: inherit;
  display: inline;
}
/* Sidenav */
.sidenav {
  z-index: 2;
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  font-family: var(--global-font);
  font-weight: 300;
  box-shadow: var(--box-shadow);
}
.sidenav .navpages {
  white-space: nowrap;
}
.navpages-availablePages {
  height: 100%;
  text-overflow: ellipsis;
}
.navpages-availablePages .suboption:hover, .navpages-availablePages .suboption.active {
  color: #ffffff;
  background-color: var(--accent-color);
}
.navpages-availablePages .navpages-page {
  text-decoration: none;
  font-size: var(--primary-font-size);
  color: var(--navpages-font-color);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}
.navpages-page.group {
  text-overflow: inherit;
  padding: var(--navpages-button-padding-group);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navpages-page.group .fa-angle-up {
  float: right;
  color: rgba(0, 0, 0, 0.5);
}
.navpages-page.suboption {
  padding: var(--navpages-button-padding-suboption);
}
/* Posters */
.posterContainer {
  margin: 0;
  border-radius: 5px;
  background: var(--poster-bg-color);
  width: var(--poster-width);
  height: var(--poster-container-height);
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin-right: var(--poster-padding);
  margin-bottom: var(--poster-padding);
  box-shadow: var(--poster-box-shadow);
  transition: all 0.15s ease-in-out;
  position: relative;
}
.posterContainer-poster {
  width: var(--poster-width);
  height: var(--poster-height);
  display: block;
}
.posterContainer-poster.poster-tv {
  border-bottom: var(--tv-indicator-hr);
}
.posterContainer-poster.poster-movie {
  border-bottom: var(--movie-indicator-hr);
}
.posterContainer-poster.poster-music {
  height: var(--poster-width);
  margin: calc((var(--poster-height) - var(--poster-width)) / 2) 0px;
  display: inline;
}
.posterContainer-poster.poster-music-container {
  border-bottom: var(--music-indicator-hr);
  background: linear-gradient(135deg, #626d73, #161d21);
}
.posterContainer:hover {
  transform: scale(1.05);
}
.posterContainer-title {
  font-family: var(--global-font);
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--poster-title-font-size);
  line-height: calc(var(--poster-title-font-size) + 2);
  max-height: 36px;
  color: #ffffff;
  padding: var(--poster-title-top-padding) var(--poster-leftright-padding) var(--poster-title-bottom-padding) var(--poster-leftright-padding);
  text-align: left;
  width: 100%;
  display: block;
  width: calc(var(--poster-width) - 10px);
}
.posterContainer-subtitle {
  font-size: 13px;
}
.posterContainer-description {
  font-family: var(--global-font);
  font-weight: 300;
  font-size: var(--secondary-font-size);
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  padding: 0px var(--poster-leftright-padding);
}
.poster-tint {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--poster-bg-color));
  height: calc(var(--poster-container-height) - var(--poster-height));
  width: var(--poster-width);
  position: absolute;
  top: var(--poster-height);
  left: 0px;
  z-index: 4;
}
.posterContainer .fa-angle-down {
  position: absolute;
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 5;
  vertical-align: middle;
  width: var(--poster-width);
  margin: 2px;
  font-size: 18px;
}
.posterContainer .fa-ellipsis-v {
  position: absolute;
  padding: 8px 9px;
  right: 0px;
  top: 0px;
  color: #FFF;
  font-size: 19px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  opacity: 0;
}
.posterContainer:hover .fa-ellipsis-v {
  opacity: 0.75;
}
.availablity-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: var(--poster-height);
  right: 0px;
  margin: 7px 6px;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #41927b;
}
.sidenav ::-webkit-scrollbar-track {
  display: none;
}