:root {
  --main-bg-color: #FFF;
  --global-font: "Roboto Light";
  --description-font: "Roboto Thin";
  --primary-font-size: 14px;
  --secondary-font-size: 12px;
  --viewport-padding: 20px;

  --sidenav-width: 240px;
  --sidenav-drop-shadow: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
  --navPages-button-padding-group: 15px 20px;
  --navPages-button-padding-suboption: 15.5px 40px;

  --navbar-height: 55px;
  --navbar-font-color: rgba(255,255,255,0.5);
  --navbar-side-padding: 20px;
  --searchbar-font-color: rgba(255,255,255,0.3);
  --searchbar-bg: #252525;
  --searchbar-width: 25vw;

  --poster-width: 150px;
  --poster-height: calc(var(--poster-width) * 1.5);
  --poster-container-height: calc(var(--poster-width) * 2.1);
  --poster-padding: 10px;
  --poster-title-font-size: 16px;
  --poster-leftright-padding: 10px;
  --poster-title-padding: 6px;
  --poster-drop-shadow: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.7));
  --tv-indicator-hr: 1px solid #f7941d;
  --movie-indicator-hr: 1px solid #0076a3;
}

/* Body */
html {
  background-color: var(--main-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.viewport {
  z-index: 1;
  left: var(--sidenav-width);
  top: var(--navbar-height);
  position: absolute;
  padding: var(--viewport-padding);
}

/* Navbar */
.navbar{
  z-index: 3;
  width: 100%;
  background: #3f3f3f;
  height: var(--navbar-height);
  top: 0px;
  left: 0px;
  position: fixed;
  filter: var(--sidenav-drop-shadow);
}
.logo{
  height: calc(var(--navbar-height) * 0.65);
  padding-top: calc(var(--navbar-height) * 0.175);
  padding-bottom: calc(var(--navbar-height) * 0.175);
  padding-left: var(--navbar-side-padding);
}
.searchbar{
  position: fixed;
  top: 0px;
  height: calc(var(--navbar-height) * .7);
  margin-top: calc(var(--navbar-height) * .15);
  margin-bottom:  calc(var(--navbar-height) * .15);
  width: var(--searchbar-width);
  background: var(--searchbar-bg);
  left: calc(50% - (var(--searchbar-width)/2));
  border-radius: 4px;
  color: var(--searchbar-font-color);
}
.searchbar input{
  box-sizing : border-box;
  height: 100%;
  max-width: 100%;
  background: none;
  width: var(--searchbar-width);
  padding-right: calc(  (var(--navbar-height) * .30)  + 30px  );
  color: inherit;
  border: none;
  font-size: var(--primary-font-size);
  padding-left: 15px;
  outline: none !important;
}

.searchbar .fa-search{
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 15px;
  margin-top: calc((var(--navbar-height) * .40) / 2);
  margin-bottom: calc((var(--navbar-height) * .30) / 2);
  height:  calc(var(--navbar-height) * .30);
  width: calc(var(--navbar-height) * .30);
  color: inherit;
}

.username-container{
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: var(--navbar-side-padding);
  font-family: var(--global-font);
  font-size: var(--primary-font-size);
  margin-top: calc( (var(--navbar-height) - 20px) / 2);
  margin-bottom: calc( (var(--navbar-height) - 20px) / 2);
  color: var(--navbar-font-color);
}
.username-container .username{
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 20px;
  display: inline;
  margin-right: 1px;
}
.username-container .fas{
  color: inherit;
  font-size: inherit;
  display: inline;
}

/* Sidenav */
.sidenav {
  z-index: 2;
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  font-family: var(--global-font);
  filter: var(--sidenav-drop-shadow);
}

.sidenav .navPages {
  white-space: nowrap;
}

.navPages-availablePages {
  height: 100%;
  text-overflow: ellipsis;
}

.navPages-availablePages a.suboption:hover, .navPages-availablePages a.suboption.active {
  color: #ffffff;
  background-color: #258a6d;
}

.navPages-availablePages a {
  text-decoration: none;
  font-size: var(--primary-font-size);
  color: #323232;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

.navPages-page.group{
  text-overflow: inherit;
  padding: var(--navPages-button-padding-group);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top:  1px solid rgba(0, 0, 0,0.1);
}

.navPages-page.group .fa-angle-up{
  float: right;
  color: rgba(0,0,0,0.5);
}

.navPages-page.suboption{
  padding: var(--navPages-button-padding-suboption);
}

/* Posters */
.posterContainer {
  margin: 0;
  border-radius: 5px;
  background: #3f3f3f;
  width: var(--poster-width);
  height: var(--poster-container-height);
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin-right: var(--poster-padding);
  margin-bottom: var(--poster-padding);
  filter: var(--poster-drop-shadow);
}

.posterContainer-poster {
  width: var(--poster-width);
  height: var(--poster-height);
  border-bottom: var(--tv-indicator-hr);
}

.posterContainer:hover {
  transform: scale(1.05);
  transition: 0.15s ease;
}

.posterContainer-title {
  font-family: var(--global-font);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--poster-title-font-size);
  text-align: center;
  color: #ffffff;
  padding: var(--poster-title-padding) var(--poster-leftright-padding);
  transition-duration: 5s;
  transition-timing-function: ease;
  text-align: left;
}

.posterContainer-description {
  font-family: var(--description-font);
  font-size: var(--secondary-font-size);
  text-align: center;
  color: rgba(255,255,255,0.4);
  padding: 0px var(--poster-leftright-padding);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  background: #404040;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #41927b;
}

.sidenav ::-webkit-scrollbar-track {
  display: none;
}
