:root {
  /* Globals */
  --main-bg-color: #FFF;
  --global-font: "Roboto Light";
  --primary-font-size: 14px;
  --secondary-font-size: 12px;
  --box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  /* Sidenav */
  --sidenav-width: 240px;
  --navpages-button-padding-group: 15px 20px;
  --navpages-button-padding-suboption: 15.5px 40px;
  --navpages-font-color: #323232;
  /* Navbar */
  --navbar-height: 55px;
  --navbar-font-color: rgba(255, 255, 255, 0.5);
  --navbar-side-padding: 20px;
  --searchbar-font-color: rgba(255, 255, 255, 0.3);
  --searchbar-bg: #252525;
  --searchbar-width: 25vw;
  /* Viewport */
  --viewport-padding: 30px;
  --description-font: "Roboto Light";
  --poster-bg-color: #3f3f3f;
  --poster-width: 150px;
  --poster-height: calc(var(--poster-width) * 1.5);
  --poster-container-height: calc(var(--poster-width) * 2.1);
  --poster-padding: 10px;
  --poster-title-font-size: 16px;
  --poster-leftright-padding: 10px;
  --poster-title-top-padding: 5px;
  --poster-title-bottom-padding: 2px;
  --poster-box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  --availabity-dot-green: #39b54a;
  --tv-indicator-hr: 1px solid #f7941d;
  --movie-indicator-hr: 1px solid #0076a3;
}
/* Body */
html {
  background-color: var(--main-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: content-box;
  position: relative;
}
.viewport {
  z-index: 1;
  left: var(--sidenav-width);
  top: var(--navbar-height);
  position: absolute;
  padding: var(--viewport-padding);
}
/* Navbar */
.navbar {
  z-index: 3;
  width: 100%;
  background: #3f3f3f;
  height: var(--navbar-height);
  top: 0px;
  left: 0px;
  position: fixed;
  box-shadow: var(--box-shadow);
}
.logo {
  height: calc(var(--navbar-height) * 0.65);
  padding-top: calc(var(--navbar-height) * 0.175);
  padding-bottom: calc(var(--navbar-height) * 0.175);
  padding-left: var(--navbar-side-padding);
}
.searchbar {
  position: fixed;
  top: 0px;
  height: calc(var(--navbar-height) * .7);
  margin-top: calc(var(--navbar-height) * .15);
  margin-bottom: calc(var(--navbar-height) * .15);
  width: var(--searchbar-width);
  background: var(--searchbar-bg);
  left: calc(50% - (var(--searchbar-width)/2));
  border-radius: 4px;
  color: var(--searchbar-font-color);
}
.searchbar input {
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  background: none;
  width: var(--searchbar-width);
  padding-right: calc((var(--navbar-height) * .30) + 30px);
  color: inherit;
  border: none;
  font-size: var(--primary-font-size);
  padding-left: 15px;
  outline: none !important;
}
.searchbar .fa-search {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 15px;
  margin-top: calc((var(--navbar-height) * .40) / 2);
  margin-bottom: calc((var(--navbar-height) * .30) / 2);
  height: calc(var(--navbar-height) * .30);
  width: calc(var(--navbar-height) * .30);
  color: inherit;
}
.username-container {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: var(--navbar-side-padding);
  font-family: var(--global-font);
  font-size: var(--primary-font-size);
  margin-top: calc((var(--navbar-height) - 20px) / 2);
  margin-bottom: calc((var(--navbar-height) - 20px) / 2);
  color: var(--navbar-font-color);
}
.username-container .username {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: 20px;
  display: inline;
  margin-right: 1px;
}
.username-container .fas {
  color: inherit;
  font-size: inherit;
  display: inline;
}
/* Sidenav */
.sidenav {
  z-index: 2;
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  background-color: #FFF;
  overflow-x: hidden;
  font-family: var(--global-font);
  box-shadow: var(--box-shadow);
}
.sidenav .navpages {
  white-space: nowrap;
}
.navpages-availablePages {
  height: 100%;
  text-overflow: ellipsis;
}
.navpages-availablePages .suboption:hover, .navpages-availablePages .suboption.active {
  color: #ffffff;
  background-color: #258a6d;
}
.navpages-availablePages .navpages-page {
  text-decoration: none;
  font-size: var(--primary-font-size);
  color: var(--navpages-font-color);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}
.navpages-page.group {
  text-overflow: inherit;
  padding: var(--navpages-button-padding-group);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navpages-page.group .fa-angle-up {
  float: right;
  color: rgba(0, 0, 0, 0.5);
}
.navpages-page.suboption {
  padding: var(--navpages-button-padding-suboption);
}
/* Posters */
.posterContainer {
  margin: 0;
  border-radius: 5px;
  background: var(--poster-bg-color);
  width: var(--poster-width);
  height: var(--poster-container-height);
  overflow-x: hidden;
  overflow-y: hidden;
  display: inline-block;
  margin-right: var(--poster-padding);
  margin-bottom: var(--poster-padding);
  box-shadow: var(--poster-box-shadow);
  transition: all 0.15s ease-in-out;
  position: relative;
}
.posterContainer-poster {
  width: var(--poster-width);
  height: var(--poster-height);
  border-bottom: var(--tv-indicator-hr);
}
.posterContainer:hover {
  transform: scale(1.05);
}
.posterContainer-title {
  font-family: var(--global-font);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--poster-title-font-size);
  color: #ffffff;
  padding: var(--poster-title-top-padding) var(--poster-leftright-padding) var(--poster-title-bottom-padding) var(--poster-leftright-padding);
  text-align: left;
  width: calc(var(--poster-width) - 25px);
  display: inline-block;
}
.posterContainer-description {
  font-family: var(--description-font);
  font-size: var(--secondary-font-size);
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  padding: 0px var(--poster-leftright-padding);
}
.poster-tint {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), var(--poster-bg-color));
  height: calc(var(--poster-container-height) - var(--poster-height));
  width: var(--poster-width);
  position: absolute;
  top: var(--poster-height);
  left: 0px;
  z-index: 9999;
}
.availablity-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  float: right;
  display: inline-block;
  transform: translate(-7px, 3px);
}
.availablity-dot.green {
  background-color: var(--availabity-dot-green);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #41927b;
}
.sidenav ::-webkit-scrollbar-track {
  display: none;
}